<head>
	
    <meta charset="UTF-8">
	<title>G ONE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/public/images/icons/favicon.png" />
    <!--===============================================================================================-->
     <link rel="stylesheet" type="text/css" href="/public/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <!-- <link rel="stylesheet" type="text/css" href="/public/vendor/select2/select2.min.css"> -->
    <!--===============================================================================================-->
    <!-- <link rel="stylesheet" type="text/css" href="/public/vendor/daterangepicker/daterangepicker.css"> -->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/vendor/MagnificPopup/magnific-popup.css"> 
    <!--===============================================================================================-->
    <!-- <link rel="stylesheet" type="text/css" href="/public/vendor/perfect-scrollbar/perfect-scrollbar.css"> -->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/css/util.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css">

    <!--===============================================================================================-->
	<!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
   
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css"
      rel="stylesheet"
    />
</head>
<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5"> Change Password</h2>
                            <% if(locals.invalid){%>
                              <p><%=invalid%></p>
                              <%}%>
  
                            <form action="/forgot-new-password" class="user" method="POST" id="signup_form">
  
                                
  
                                
  
                                <div class="form-outline mb-4">
                                    <input type="password" name="conPassword" id="password"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" for="password">password</label>
                                </div>
                               
  
                             
  
                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Submit</button>
                                </div>
                           
                            </form>
  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

        <%- include('../user/layouts/user-script.ejs') %>